# general config
persistence=true
tgforwarding=true

# camera settings
type=rpicam #possible values: rpicam|webcam
path=$PWD/../photos
name='temp.jpg'
width=1280
height=1024

# rpicam
version=v3 #possible values: v2|v3
hflip=1
vflip=1
#todo: implement user custom arguments for camera

# webcam
version=default
#todo: implement user custom arguments for camera

# telegram settings
bot_token=
receiver= #telegram chat id (numerical)
disable_notification=false
caption=""
caption_day_night_indicator=true
