# general config
persistence=true
tgforwarding=true

# camera settings
type=rpicam #possible values: rpicam|webcam
path=$dir/../photos
name='temp.jpg'
width=1600
height=1200

# rpicam
version=v3 #possible values: v2|v3
hflip=1
vflip=1
#todo: implement user custom arguments for camera

# telegram settings
bot_token=
receiver= #telegram chat id (numerical)
disable_notification=true
caption=""
caption_day_night_indicator=false
grow_start_date="YYYY-MM-DD"

# weather; if weather=true you must set the other params as well
weather=false
provider=https://api.open-meteo.com/v1/forecast?current=apparent_temperature,rain,temperature_2m,relative_humidity_2m,weather_code&forecast_days=1
coordinateLat=12.341113
coordinateLon=34.561224
