# general config
persistence=true
tgforwarding=true

#camera settings
version=v3 #possible values: v2|v3|webcam
width=1280
height=1024
hflip=1
vflip=1
path=$PWD/../photos
name='temp.jpg'
#todo: implement user custom arguments for camera

#telegram settings
bot_token=
receiver= #telegram chat id (numerical)